<section id="avantages" class="my-4" style="position: relative">
	<div style="position: absolute; top: 6%; left:12%; width: 23%; height: auto;">
		<%= image_tag "accueil/tache2.svg", alt:"bulle", width:"100%", height:"auto", class:"rounded d-none d-lg-block"%>
	</div>
	<div style="position: absolute; top: 6%; left:41%; width: 23%; height: auto;">
		<%= image_tag "accueil/tache2.svg", alt:"bulle", width:"100%", height:"auto", class:"rounded d-none d-lg-block"%>
	</div>
	<div style="position: absolute; top: 6%; left:68%; width: 23%; height: auto;">
		<%= image_tag "accueil/tache2.svg", alt:"bulle", width:"100%", height:"auto", class:"rounded d-none d-lg-block"%>
	</div>
	<div class="">
		<div class="row justify-content-center">
			<div class="col-11 col-md-11 col-lg-10 p-2 p-md-3 p-lg-4">
				<div class="row justify-content-center mb-md-4">
					<div class="col-4">
						<div class="row">
							<div class="col-4"></div>
							<div class="col-8">
								<div class="avantages_key">3.8X</div>
								<div class="avantages_sub_key">plus de candidats qualifiés</div>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="row">
							<div class="col-4"></div>
							<div class="col-8">
								<div class="avantages_key">40%</div>
								<div class="avantages_sub_key">de taux d'embauche en plus</div>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="row">
							<div class="col-4"></div>
							<div class="col-8">
								<div class="avantages_key">3X</div>
								<div class="avantages_sub_key">de taux de rétention en plus</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center align-items-end mt-md-4 mt-5">
					<div class="col-4">
						<div class="row justify-content-center align-items-end">
							<div class="col-4">
								<%= image_tag "avantages/candidates.svg", alt:"candidats qualifies", width:"80px", height:"auto", class:"rounded ml-auto d-none d-lg-block"%>
							</div>
							<div class="col-8 pr-md-3 pr-lg-5">
								<div class=" avantages_sub_text pr-5 ">
									Améliorez la qualité de votre sourcing
								</div>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="row justify-content-center align-items-end">
							<div class="col-4">
								<%= image_tag "avantages/target.svg", alt:"candidats qualifies", width:"80px", height:"auto", class:"rounded ml-auto d-none d-lg-block"%>
							</div>
							<div class="col-8">
								<div class="avantages_sub_text pr-0">
									Rencontrez des candidats mieux informés compatibles avec votre culture d'entreprise
								</div>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="row justify-content-center align-items-end">
							<div class="col-4">
								<%= image_tag "avantages/handshake.svg", alt:"poignee de mains", width:"80px", height:"auto", class:"rounded ml-auto d-none d-lg-block"%>
							</div>
							<div class="col-8">
								<div class="avantages_sub_text pr-2">
									Recrutez des collaborateurs avec lequels vous vous inscrivez dans la durée
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>





<!--
<section id="pourquoi" class="mt-4">
	<div class="row justify-content-center">
		<div class="col-12 col-md-10" style="text-align: center;">
			<h2 class="bvert">Pourquoi la cooptation ?</h2>
		</div>
	</div>
	<div class="row justify-content-center mt-3">
		<div class="col-10">
			<div class="row justify-content-center">
				<div class="col-12 col-md-4">
					<div class="container_a">
						<div>
							<h3 class="bvert">Meilleur sourcing</h3>
						</div>
						<div class="pr-md-3 gris text" style="text-align: left;">
							<p>64 % des recruteurs estiment que les meilleurs candidats sont ceux issus de la cooptation</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="container_a">
						<div>
							<h3 class="bvert">Meilleur taux de recrutement</h3>
						</div>
						<div class="pr-md-3 gris text" style="text-align: left;">
							<p>Un candidat coopté sur 16 est recruté contre: <br>
							1/22 venant de cabinets de recrutement <br>
							1/72 via les jobboards <br>
							1/152 postulants à une annonce
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="container_a">
						<div>
							<h3 class="bvert">Meilleur taux de rétention</h3>
						</div>
						<div class="pr-md-3 gris text" style="text-align: left;">
							<p>43 % des candidats recrutés par le biais de la cooptation restent 3 ans en entreprise, contre 14% des candidats issus de jobboards
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
-->
<!--
<section class="mt-3 mt-md-4">
	<div class="row justify-content-center p-4" id="technologie">
		<div class="col-12 col-md-10" style="text-align: center;">
			<h2 class="bvert">Notre technologie</h2>
			<div>
				<p class="gris text">
					Notre IA automatise le processus de cooptation en identifiant les contacts Linkedin de vos collaborateurs compatibles avec vos offres d’emploi
				</p>
			</div>
		</div>
	</div>
	<div class="row justify-content-center mt-3 mt-md-4">
		<div class="col-11 col-md-10">
			<div class="row justify-content-center align-items-top">
				<div class="col-10 col-md-4">
					<div>
						<div>
							<%= image_tag "accueil/chemistry.png", alt:"scrapping", width:"200px", height:"auto", class:"mx-auto rounded d-block"%>
						</div>
						<div class="mt-2 mt-md-3">
							<h3 class="violet" style="text-align: center;">Web scraping</h3>
							<div class="gris text pl-md-4">
								<p>En quelques minutes, notre algorithme se connecte aux réseaux sociaux de vos collaborateurs pour extraire et regrouper toutes les données pertinentes de leur contacts (Linkedin, Github, Stackoverflow).</p>
						</div>
						</div>
					</div>
				</div>
				<div class="col-10 col-md-4">
					<div>
						<div>
							<%= image_tag "accueil/selection.png", alt:"matching", width:"190px", height:"auto", class:"rounded mx-auto  d-block"%>
						</div>
						<div class="mt-2 mt-md-3">
							<h3 class="violet" style="text-align: center;">Matching des candidats</h3>
							<div class="gris text pl-md-4">
								<p>Notre moteur de matching est bâti sur l’usage de technologies dites de Deep Learning entrainées sur des millions de CVs, de descriptions et titres de métiers/formations.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-10 col-md-4">
					<div>
						<div>
							<%= image_tag "accueil/gem.png", alt:"machine learning", width:"225px", height:"auto", class:"rounded mx-auto d-block"%>
						</div>
						<div class="mt-2 mt-md-3">
							<h3 class="violet" style="text-align: center;">Machine learning</h3>
							<div class="gris text pl-md-4">
								<p>Sur la base des parcours similaires au sien, l’algorithme d’analyse prédictive reconnaît les candidats aptes à changer de poste. </p>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</section>
-->