<%= render partial: 'navbar' %>

<section id="ruban" class="row align-items-center col-12 p-0">
	<!--
	<div style="position: absolute; top:-140px; left:0px">	
		<%= image_tag "accueil/curved.png", alt:"Logo", width:"100%", height:"auto", class:"d-none d-md-block align-top"%>	
	</div>
	-->
	<div class="row justify-content-center align-items-center">
		<div class="col-11 col-md-5">
			<div class="p-3 p-md-4">
				<h1 style="color: white; font-weight: bold;">La plateforme de cooptation intelligente</h1>
				<div class="pr-3 pr-md-5">
					<p class="mt-3 mt-md-4" style="font-size: 1.7rem; color: white;">DeepSkill vous permet d'exploiter tout le potentiel de votre réseau d'entreprise pour sourcer, scorer et embaucher les meilleurs candidats
					</p>
				</div>
			</div>
		</div>
		<div class="col-11 col-md-5">
			<div class="px-3">
				<%= image_tag "accueil/cooptation.svg", alt:"cooptation", width:"350px", height:"auto", class:"d-inline-block align-top"%>
			</div>
		</div>
	</div>
</section>

<section id="abstract" class="mt-0 mx-0 p-4">
	<div class="row justify-content-center align-items-center">
		<div class="col-12 col-md-5">
			<div class="container_a mx-auto">
				<h2 class="bvert">Décupler votre Talent Pool</h2>
				<div class="pr-3 pr-md-3">
					<p class="gris text">L’ensemble des contacts Linkedin de vos collaborateurs sont analysés y compris ceux en recherche passive. <br>En France, une personne possède en moyenne 222 connexions Linkedin
					</p>
				</div>
			</div>
		</div>
		<div class="d-none d-md-block col-md-5">
			<div class="container_i mx-auto">
				<div class="tache">
					<%= image_tag "abstract/connection.svg", alt:"reseau professionnel", width:"200px", height:"auto", class:"rounded mx-auto d-block"%>
				</div>
			</div>
		</div>
	</div>

	<div class="dashed">
		<div class="line2">
		</div>
	</div>
	
	<div class="row justify-content-center align-items-center mt-3 mt-md-5">
		<div class="d-none d-md-block col-md-5" >
			<div class="container_i mx-auto">
				<div class="tache2">
					<%= image_tag "accueil/selection.svg", alt:"sourcing", width:"400px", height:"auto", class:"rounded mx-auto d-block"%>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-5 ">
			<div class="container_a mx-auto">
				<h2 class="bvert">Fiabiliser votre sourcing</h2>
				<div class="pr-3 pr-md-3">
					<p class="gris text">Seuls les candidats pertinents pour le poste (parcours professionnel, compétences, formations, degré de passivité) sont présélectionnés par nos algorithmes et proposés aux collaborateurs
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="dashed">
		<div class="line">
		</div>
	</div>

	<div class="row justify-content-center align-items-center mt-3 mt-md-5">
		<div class="col-12 col-md-5">
			<div class="container_a mx-auto">
				<h2 class="bvert">Recruter plus vite</h2>
				<div class="pr-3 pr-md-3">
					<p class="gris text">En un click, accédez à une liste de profils pertinents qui sera ensuite envoyée à vos collaborateurs qui se chargeront de la prise de contact grâce à un message pré-rédigé et prêt à l’envoi
					</p>
				</div>
			</div>
		</div>
		<div class="d-none d-md-block col-md-5">
			<div class="container_i mx-auto">
				<div class="tache">
					<%= image_tag "accueil/mail.svg", alt:"recrutement", width:"400px", height:"auto", class:"rounded mx-auto d-block"%>
				</div>
			</div>
		</div>
	</div>

	<div class="row justify-content-center mt-3 mt-md-5">
		<a href="/home/demo" class="btn btn-secondary p-3" style="font-weight: bold; font-size:1.2em;">Demander une démo</a>
	</div>
</section>

<div class="mt-3 separator"></div>
<section id="avantages" class="mt-4">
	<div class="row justify-content-center">
		<div class="col-11 col-lg-10 p-lg-3">
			<div class="row justify-content-center">
				<div class="col-12" style="text-align: center;">
					<h2 class="grisnoir">Pourquoi la cooptation ?</h2>
				</div>
			</div>
			<div class="row justify-content-center mt-3 mt-md-5">
				<div class="col-4">
					<div class="avantages_key bvert">3.8X</div>
					<div class="avantages_sub_key bvert">plus de candidats qualifiés</div>
					<div class="avantages_sub_text mt-2 px-3">
						Améliorez la qualité de votre sourcing
					</div>
				</div>
				<div class="col-4">
					<div class="avantages_key bvert">40%</div>
					<div class="avantages_sub_key bvert">de taux d'embauche en plus</div>
					<div class="avantages_sub_text mt-2 px-3">
						Rencontrez des candidats mieux informés compatibles avec votre culture d'entreprise
					</div>
				</div>
				<div class="col-4">
					<div class="avantages_key bvert">3X</div>
					<div class="avantages_sub_key bvert">de taux de rétention en plus</div>
					<div class="avantages_sub_text mt-2 px-3">
						Recrutez des collaborateurs avec lequels vous vous inscrivez dans la durée
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center mt-3 mt-md-5">
		<a href="/home/demo" class="btn btn-secondary p-3" style="font-weight: bold; font-size:1.2em;">Demander une démo</a>
	</div>
</section>

<section class="mt-4" id="how">
	<div class="mt-0 separator"></div>
	<div class="p-3" style="position: relative">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10 mb-3 align-items-center">
				<div class="mt-4" style="text-align: center;">
					<h2>Comment ça marche ? </h2>	
					<h5 class="gris">Notre IA automatise le processus de cooptation en identifiant les contacts Linkedin de vos collaborateurs compatibles avec vos offres d’emploi
					</h5>
				</div>
			</div>
		</div>
		<!--Numero1-->
		<div class="row justify-content-center p-2">
			<div class="col-5">
				<div class="d-flex mt-4 mt-md-5 justify-content-end">
					<div class="d-flex align-items-center">
						<div>
							<div class="numero_container d-flex align-items-center p-0 m-0">
								<div class="mx-auto numero">1</div>
							</div>
						</div>
						<div class="ml-2">
							<h3 class="comment_ca_marche_titre m-auto">
								Connexion
							</h3>
						</div>
					</div>
				</div>
				<div class="d-flex mt-2 mt-md-3 justify-content-end comment_ca_marche_text p-0">
					<p style="text-align: end;">
						aux différents réseaux professionnels de vos collaborateurs (Linkedin, Stackoverflow, Github)
					</p>
				</div>
			</div>
			<div class="col-1">		
			</div>
			<div class="col-5">
				<div class="mt-4 mt-md-5 ml-auto">
					<%= image_tag "abstract/connection.svg", alt:"reseau professionnel", width:"170px", height:"auto", class:"rounded mr-auto d-block"%>
				</div>
			</div>
		</div>
		<!--Numero2-->
		<div class="row justify-content-center">
			<div class="col-5">
				<div class="mt-4 mt-md-5 ml-auto">
					<%= image_tag "how/resume.svg", alt:"cv", width:"200px", height:"auto", class:"rounded ml-auto d-block"%>
				</div>
			</div>
			<div class="col-1">		
			</div>
			<div class="col-5">
				<div class="d-flex mt-4 mt-md-5 justify-content-start">
					<div class="d-flex align-items-center">
						<div>
							<div class="numero_container d-flex align-items-center p-0 m-0">
								<div class="mx-auto numero">2</div>
							</div>
						</div>
						<div class="ml-2">
							<h3 class="comment_ca_marche_titre m-auto">
								Identification
							</h3>
						</div>
					</div>
				</div>
				<div class="d-flex mt-2 mt-md-3 justify-content-start comment_ca_marche_text p-0">
					<p style="text-align: start;">
						des compétences, formations et parcours nécessaires pour le nouveau poste à pourvoir et analyse du réseau de vos collaborateurs pour trouver les meilleurs talents
					</p>
				</div>
			</div>
		</div>
		<!--Numero3-->
		<div class="row justify-content-center mt-3">
			<div class="col-5">
				<div class="d-flex mt-4 mt-md-5 justify-content-end">
					<div class="d-flex align-items-center">
						<div>
							<div class="numero_container d-flex align-items-center p-0 m-0">
								<div class="mx-auto numero">3</div>
							</div>
						</div>
						<div class="ml-2">
							<h3 class="comment_ca_marche_titre m-auto">
								Validation
							</h3>
						</div>
					</div>
				</div>
				<div class="d-flex mt-2 mt-md-3 justify-content-end comment_ca_marche_text p-0">
					<p style="text-align: end;">
						par vos recruteurs des profils qu’ils souhaitent contacter dans la liste proposée par nos algorithmes
					</p>
				</div>
			</div>
			<div class="col-1">		
			</div>
			<div class="col-5">
				<div class="mt-4 mt-md-5 ml-auto">
					<%= image_tag "how/hire_bvert.svg", alt:"recrutement", width:"230px", height:"auto", class:"rounded mr-auto d-block"%>
				</div>
			</div>
		</div>
		<!--Numero4-->
		<div class="row mt-3 justify-content-center">
			<div class="col-5">
				<div class="mt-4 mt-md-5 ml-auto">
					<%= image_tag "how/mailppt.png", alt:"recrutement", width:"230px", height:"auto", class:"rounded ml-auto d-block"%>
				</div>
			</div>
			<div class="col-1">		
			</div>
			<div class="col-5">
				<div class="d-flex mt-4 mt-md-5 justify-content-start">
					<div class="d-flex align-items-center">
						<div>
							<div class="numero_container d-flex align-items-center p-0 m-0">
								<div class="mx-auto numero " >4</div>
							</div>
						</div>
						<div class="ml-2">
							<h3 class="comment_ca_marche_titre m-auto">
								Alerte
							</h3>
						</div>
					</div>
				</div>
				<div class="d-flex mt-2 mt-md-3 justify-content-start comment_ca_marche_text p-0">
					<p style="text-align: start;">
						par mail des collaborateurs de la présence dans leur réseau de profils pertinents et prise de contact avec le candidat grâce à un message pré-rédigé
					</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center mt-4 mt-md-5">
			<a href="/home/demo" class="btn btn-secondary p-3" style="font-weight: bold; font-size:1.2em;">Demander une démo</a>
		</div>
		<div style="position: absolute; top:15%;left:47%; height:80%; width: auto;">
			<%= image_tag "how/process_r.svg", alt:"process", class:"rounded mx-auto d-block", height:"100%;"%>
		</div>
	</div>
</section>


<!--
<section id="avantages">
	<div class="row justify-content-center">
		<div class="col-11 col-md-10">
			<div class="row justify-content-center p-3">
				<div class="col-4">
					<div class="row justify-content-center align-items-end m-0 p-0">
						<div class="col-4 p-0 pr-2">
							<div class="mt-auto">
								<%= image_tag "avantages/candidates.svg", alt:"candidats qualifies", width:"80px", height:"auto", class:"rounded ml-auto d-block"%>
							</div>
						</div>
						<div class="col-8">
							<div class="mt-2 mt-md-4 mr-auto">
								<div class="avantages_key">3.8X</div>
								<div class="avantages_sub_key">plus de candidats qualifiés</div>
							</div>
							<div class="mt-3 mt-md-4 mr-auto avantages_sub_text">
								Améliorez la qualité de votre sourcing
							</div>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="row justify-content-center align-items-end m-0 p-0">
						<div class="col-3 p-0 pr-2">
							<div class="mt-auto">
								<%= image_tag "avantages/target.svg", alt:"candidats qualifies", width:"80px", height:"auto", class:"rounded ml-auto d-block"%>
							</div>
						</div>
						<div class="col-9">
							<div class="mt-2 mt-md-4 mr-auto">
								<div class="avantages_key">40%</div>
								<div class="avantages_sub_key">de taux d'embauche en plus</div>
							</div>
							<div class="mt-3 mt-md-4 mr-auto avantages_sub_text">
								Rencontrez des candidats mieux informés compatibles avec votre culture d'entreprise
							</div>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="row justify-content-center align-items-end m-0 p-0">
						<div class="col-3 p-0 pr-2">
							<div class="mt-auto">
								<%= image_tag "avantages/handshake.svg", alt:"poignee de mains", width:"80px", height:"auto", class:"rounded ml-auto d-block"%>
							</div>
						</div>
						<div class="col-9">
							<div class="mt-2 mt-md-4 mr-auto">
								<div class="avantages_key">3X</div>
								<div class="avantages_sub_key">de taux de rétention en plus</div>
							</div>
							<div class="mt-3 mt-md-4 mr-auto avantages_sub_text">
								Recrutez des collaborateurs avec lequels vous vous inscrivez dans la durée
							</div>
						</div>
					</div>
				</div>

			</div>
			<div id="avantages_backrgound">
				
			</div>
		</div>
	</div>
</section>
-->



